<footer class="site-footer position-relative mt-5">
	<div class="container">
		<div class="row">
        	<div class="col-md-8">
				<form action="#" class="subscribe-form">
					<input readonly type="text" placeholder="Enter your email to subscribe...">
					<input type="submit" disabled value="Subscribe">
				</form>
			</div>
			<div class="col-md-3 col-md-offset-1" id="contact">
				<div class="social-links">
					<a target="_blank" href="https://facebook.com"><i class="fa fa-facebook"></i></a>
					<a target="_blank" href="https://github.com/habeeb142"><i class="fa fa-github"></i></a>
					<a target="_blank" href="https://wa.me/+2348132722019"><i class="fa fa-whatsapp"></i></a>
				</div>
			</div>
		</div>

		<p class="text-center mt-3"> {{ dis_footer }} </p>
	</div>	
</footer> <!-- .site-footer -->