<div class="row-md container mt-5 pt-5">
  <div class="col-md-6" id="hide">
      <img class="d-block col-sm-1 col-md-10 offset-md-1" src="assets/personal/pic4.jpg">
  </div>
  <div class="col-md-6">
    <div class="abt">
      About Me
    </div>
    <div class="abt2">
      About Me
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-md-4">Name: </label>
        <div class="col-12 col-md-8 form-control" style="background-color: black; border-color: black">Mustapha Habeeb Adewale</div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-md-4">Date of Birth: </label>
        <div class="col-12 col-md-8 form-control" style="background-color: black; border-color: black">February 21, 1994</div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-md-4">Address: </label>
        <div class="col-12 col-md-8 mb-5 form-control" style="background-color: black; border-color: black">No 2, Saphire Street, Pagun Oke-omi, Olodo Ibadan Oyo State.</div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-md-4">Email: </label>
        <div class="col-12 col-md-8 form-control" style="background-color: black; border-color: black">habeebmustapha312@gmail.com</div>
    </div>
    <div class="form-group row">
        <label for="name" class="col-form-label col-md-4">Mobile No: </label>
        <div class="col-12 col-md-8 form-control" style="background-color: black; border-color: black">08132722019</div>
    </div>
    <a id="resume" class="btn col-12" href="/assets/personal/mustapha.pdf" download="Mustapha CV"><i class="fa fa-download"></i> Download CV</a>
  </div>
</div>