<div class="mt-5" style="border-top: 3px solid #ff6c00;">
  <div class="col-12 project text-center mt-5">
    Projects
  </div>
  <div class="col-12 project2 text-center">
    Projects
  </div>
  <div class="text-center quote">
      It's better to find happiness in what you love to do best.
  </div>
  <!-- EPIC MAIL AND JUSTSEARCH -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div id="display" class="offset-1 offset-md-3 text-center font-weight-bold">EPIC MAIL<br />This allows you to chat with loved once<br /> at ease...</div>
      <a href="https://myepicmail.herokuapp.com" target="_blank"> <img class="img img_hover col-6 col-12" src="assets/images/mail_dsk.JPG" alt="mail"></a>
    </div>
    <div class="col-md-6">
        <div id="display1" class="text-center offset-md-2 font-weight-bold">JUSTSEARCH<br />This allows you to search for the details of Mechanic, <br />Vulcanizers and Rewire at ease...</div>
      <a href="https://justsearch.herokuapp.com" target="_blank"> <img class="img p-5 img_hover1 col-6 col-12" src="assets/images/justsearch.JPG" alt="justsearch"></a>
    </div>
  </div>
  <!-- SCHOOL APP and FOODFAIR -->
  <div class="row mt-4">
    <div class="col-md-6">
      <div id="display2" class="offset-2 offset-md-3 text-center font-weight-bold">FOODFAIR<br />This allows you to buy your <br />foods and pay online at ease...</div>
      <a href="https://foodfair.herokuapp.com" target="_blank"> <img class="img img_hover2 col-12" src="assets/images/foodfair.JPG" alt="foodfair"></a>
    </div>
    <div class="col-md-6">
        <div id="display3" class="text-center font-weight-bold offset-md-2 ">SCHOOL APP<br />This allows you to signup and login as a returning <br />student to view your dashboard<br /> at ease...</div>
      <a href="https://myschapp.herokuapp.com" target="_blank"> <img class="img p-5 img_hover3 col-12" src="assets/images/schapp.JPG" alt="Sch App"></a>
    </div>
  </div>

  <!-- Weather APP and BVN App -->
  <div class="row mt-4">
    <div class="col-md-4">
      <div id="display4" class="text-center font-weight-bold offset-1">WEATHER APP<br />This allows you to check the weather of <br />any locality at ease...</div>
      <a href="/weather" target="_blank"> <img class="img img_hover4 col-12" src="assets/images/weather.JPG" alt="Weather App"></a>
    </div>
    <div class="col-md-4">
        <div id="display5" class="text-center font-weight-bold offset-1">BVN APP<br />This allows you to have access to details of a <br />partcular BVN No. at ease...</div>
      <a href="/bvn" target="_blank"> <img class="img p-5 img_hover5 col-12" src="assets/images/bvn.JPG" alt="BVN App"></a>
    </div>
    <div class="col-md-4">
        <div id="display8" class="text-center font-weight-bold offset-1">My JavaScript<br />This apps are for different javascript done<br />  so far...</div>
      <a href="http://myschapp.herokuapp.com/js-project"> <img class="img p-5 img_hover8 col-12" src="assets/images/javascript.png" alt="MyJavaScriptApp"></a>
    </div>
  </div>

  <!-- SQI and Zilt -->
  <div class="row mt-4" id="contact">
    <div class="col-md-6">
      <div id="display6" class="offset-1 offset-md-2 text-center font-weight-bold">SQI<br />This is the official website of SQI College of ICT. <br /> Part of the upgrading developers...</div>
      <a href="https://edu.sqi.ng" target="_blank"> <img class="img img_hover6 col-12" src="assets/images/sqi.JPG" alt=""></a>
    </div>
    <div class="col-md-6">
        <div id="display7" class="text-center font-weight-bold offset-md-1">Bank App<br />A prototype of a bank app which allows a customer registration<br /> and have access to various other option in his/her dashboard<br /> at ease...Note: APP IN PROGRESS</div>
        <a href="/" target="_blank"> <img class="img p-5 img_hover7 col-12" disabled src="assets/images/bg_1.jpg" alt="BankApp"></a>
    </div>
  </div>
</div>
