<div id="home" class="carousel slide mt-5 mb-3 pb-5" data-ride="carousel" style="border-bottom: 3px solid #ff6c00;">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <ol class="carousel-indicators">
        <li data-target="#home mt-5" data-slide-to="0" class="active"></li>
        <li data-target="#home" data-slide-to="1"></li>
        <li data-target="#home" data-slide-to="2"></li>
      </ol>
      <img class="d-block col-sm-1 col-md-4 offset-md-1" src="assets/personal/pic4.jpg" alt="First slide">
      <div class="carousel-caption col-md-5 container">
        <div class="name">Hello!</div>
        <div class="i-am">I am</div>
        <div class="name">Mustapha</div>
        <div class="name">Habeeb A.</div>
      </div>
    </div>
    <div class="carousel-item">
		<ol class="carousel-indicators">
			<li data-target="#home mt-5" data-slide-to="0"></li>
			<li data-target="#home" data-slide-to="1" class="active"></li>
			<li data-target="#home" data-slide-to="2"></li>
		</ol>
		<img class="d-block col-sm-1 col-md-4 offset-md-1" src="assets/personal/pic4.jpg" alt="Second slide">
		<div class="carousel-caption col-md-5 container">
			<div class="i-am">I'm</div>
			<div class="i-am">a</div>
			<div class="name">Software Developer</div>
		</div>
    </div>
    <div class="carousel-item">
		<ol class="carousel-indicators">
			<li data-target="#home mt-5" data-slide-to="0"></li>
			<li data-target="#home" data-slide-to="1"></li>
			<li data-target="#home" data-slide-to="2" class="active"></li>
		</ol>
		<img class="d-block col-sm-1 col-md-4 offset-md-1" src="assets/personal/pic4.jpg" alt="Third slide">
		<div class="carousel-caption col-md-5 container">
			<div class="i-am">I'm a</div>
			<div class="name">Full-Stack Developer</div>
		</div>
    </div>
	</div>
    <a class="carousel-control-prev" href="#home" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#home" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
    <div id="about"></div>
</div>