<div class="col-12 contact text-center mt-5 pt-4" style="border-top: 3px solid #ff6c00;">
    Contact Me
</div>
<div class="col-12 contact2 text-center">
    Contact
</div>
<div class="text-center quote">
    Hard-work without Smart-work will yield you either nothing or less.
</div>
<div class="row mt-5">
    <div class="col-1 p-5 mail">
        <i class="fa fa-envelope fa-lg"></i>
    </div>
    <div class="col-1 offset-1 p-5 facebook">
        <i class="fa fa-facebook fa-lg"></i>
    </div>
    <div class="col-1 offset-1 p-5 github">
        <i class="fa fa-github fa-lg"></i>
    </div>
    <div class="col-1 offset-md-1 p-5 whatsapp">
        <i class="fa fa-whatsapp fa-lg"></i>
    </div>
    <div class="col-1 offset-1 p-5 home">
        <i class="fa fa-home fa-lg"></i>
    </div>
    <div class="col-1 offset-1 p-5 phone">
        <i class="fa fa-phone fa-lg"></i>
    </div>
</div>
<div class="col-12 col-md-6 offset-md-3 mail_">
    habeebmustapha312@gmail.com
</div>
<div class="col-12 col-md-6 offset-md-3 facebook_">
    Mustapha Habeeb Prince Adewale
</div>
<div class="col-12 col-md-6 offset-md-3 github_">
    github.com/Habeeb142
</div>
<div class="col-12 col-md-6 offset-md-3 whatsapp_">
    08132722019
</div>
<div class="col-12 col-md-6 offset-md-3 home_">
    No, 2 saphire street Olodo Ib. Oyo state.
</div>
<div class="col-12 col-md-6 offset-md-3 phone_">
    +2348132722019
</div>

