
  <div id="skills" class="row col-12 skills mt-3"  style="border-top: 3px solid #ff6c00;">
    <span class="col-12 text-center mt-5">My Skills</span>
  </div>
  <div class="col-12 skills2 text-center">
    Skills
  </div>
  <div class="text-center quote">
    Do not Stop Learning, so as to become unstopable...Quit learning and become Stopable.
  </div>
  <div class="row mt-5">
    <!-- HTML -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">HTML5</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">100%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
      </div>
    </div>

    <!-- javascript  -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">JavaScript</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
      <!-- CSS -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">CSS</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">100%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
      </div>
    
    </div>

    <!-- Bootstrap -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">Bootstrap</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>
  </div>

  <div class="row mt-5">
      <!-- PHP -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">PHP</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>

    <!-- Laravel-->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">Laravel</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    </div>
  </div>


  <div class="row mt-5">
      <!-- mySql -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">mySql</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>

    <!-- Node JS-->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">Node JS</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>

  </div>


  <div class="row mt-5">
      <!-- Angular 7 -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">Angular 7</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">90%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>

    <!-- React-->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">React</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">70%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
      <!-- Vue -->
    <div class="col-md-6 mt-4">
      <div class="row">
        <div class="col-5 font-weight-bold">Vue</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">50%</div>
      </div>
      <div class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    
    </div>

    <!-- Pyton-->
    <div class="col-md-6 mt-4" style="margin-bottom: 80px">
      <div class="row">
        <div class="col-5 font-weight-bold">Pyton</div>
        <div class="col-6 font-weight-bold" style="text-align: end;">30%</div>
      </div>
      <div id="projects" class="html col-12 row">
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
        <div class="n_progress col-1"></div>
      </div>
    </div>
  </div>

