<div class="site-header sticky-top" style="z-index: 1; background-color: #1E202B;">
	<div class="container">
      	<a href="index.html" class="branding">
        	<img src="assets/images/logo.png" alt="" class="logo">
        	<div class="logo-type">
            	<h1 class="site-title">My Weather</h1>
            	<small class="site-description">serach it, know it!</small>
        	</div>
      	</a>

    <!-- Default snippet for navigation -->
  	<div class="main-navigation">
		<button type="button" class="menu-toggle"><i class="fa fa-bars"></i></button>
    	<ul class="menu">
      		<li class="menu-item current-menu-item"><a routerLink="/" style="text-decoration: none">Home</a></li>
      		<li class="menu-item"><a href="" style="text-decoration: none">Photos</a></li>
      		<li class="menu-item"><a href="#contact" style="text-decoration: none">Contact</a></li>
    	</ul> <!-- .menu -->
  	</div> <!-- .main-navigation -->

  	<div class="mobile-navigation"></div>
</div> <!-- .site-header -->