<div class="col-12 resume text-center mt-4 pt-4" style="border-top: 3px solid #ff6c00;">
  Resume
</div>
<div class="col-12 resume2 text-center">
  Resume
</div>
<div class="text-center quote">
  In other to know who you really are, WAKE UP, WORK HARD, ACT! and let action define you.
</div>
<div class="card col-md-6 mt-5 p-5">
  <div class="yr">2011-2018</div>
  <div class="degree">
    Bachelor of Technology (B. Tech)
  </div>
  <div class="sch">
    Ladoke Akintola University of Technology
  </div>
  <div class="mt-4">
    I obtained my degree in Electronic and Electrical Engineering (Communication Option) from Ladoke Akintola University of Technology (LAUTECH), Ogbomoso, Oyo state Nigeria between the year 2011 to 2018.
  </div>
</div>
<div class="card col-md-6 mt-5 p-5">
  <div class="yr">2017-2018</div>
  <div class="degree">
    Full-Stack Web Developer
  </div>
  <div class="sch">
    SQI College of ICT
  </div>
  <div class="mt-4">
    I obtained my certification in Full-stack development from SQI College of ICT, Oyo state, Nigeria. This has made me proficient in both the Front-End side of programming and as well as Back-End Side of programming.
  </div>
</div>
<a  class="btn col-md-6 text-light offset-md-3 mt-3 mb-5" href="/assets/personal/mustapha.pdf" download="Mustapha CV"><i class="fa fa-download"></i> Download CV</a>

